<% content_for :title, "Kitestring" %>
<% content_for :description, "Keep tabs on your well-being." %>

<script>
  window.user_name = <%= @user.name.to_json.html_safe -%>;
  window.contacts = <%= @user.contacts.to_json.html_safe -%>;
  window.active = <%= (@user.checkpoint != nil).to_json.html_safe -%>;
  <% if @user.checkpoint != nil %>
    window.current_checkpoint = new Date();
    window.current_checkpoint.setTime(<%= (@user.checkpoint.utc().to_i * 1000).to_json.html_safe -%>);
    window.current_message = <%= @user.message.to_json.html_safe -%>;
  <% end %>
</script>

<div data-ng-controller="HomeController">
  <div class="dark-gray-vessel slide" data-ng-show="active">
    <div class="container">
      <div class="row main-row">
        <div class="span6 offset3">
          <h2 class="no-top-margin"><i class="fa fa-refresh"></i> Your Current Trip</h2>
          <p id="current-message">{{ current_message }}</p>
          <p><i class="fa fa-clock-o"></i> <strong>ETA:</strong> <span ng-class="{'expired': expired}">{{ time_string }} ({{ interval_string }})</span></p>
          <p class="no-bottom-margin"><a href="/end_checkpoint" class="button" ks-post-anchor="updateCurrentCheckpointFromServer">End trip</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="gray-vessel slide" data-ng-show="contacts.length > 0">
    <div class="container">
      <div class="row main-row">
        <div class="span6 offset3">
          <%= form_tag('/checkpoint', { 'method' => 'post', 'class' => 'no-vertical-margin', 'data-ks-form' => 'updateCurrentCheckpointFromServer' }) do %>
            <h2 class="no-top-margin" data-ng-show="active"><i class="fa fa-pencil-square-o"></i> Update your trip</h2>
            <h2 class="no-top-margin" data-ng-hide="active"><i class="fa fa-pencil-square-o"></i> Taking a walk?</h2>
            <p>Let us know when you would like us to check up on you.</p>
            <p class="no-vertical-margin">
              <input name="time" id="time" data-ng-model="time" type="time" />
              <br class="phone-visible" />
              <a href="#" class="button" data-ng-click="checkpointIn($event, 5)">5m</a>
              <a href="#" class="button" data-ng-click="checkpointIn($event, 15)">15m</a>
              <a href="#" class="button" data-ng-click="checkpointIn($event, 30)">30m</a>
              <a href="#" class="button" data-ng-click="checkpointIn($event, 60)">1hr</a>
              <a href="#" class="button" data-ng-click="checkpointIn($event, 120)">2hr</a>
            </p>
            <p>If you don&rsquo;t respond within 5 minutes of recieving our ping, we&rsquo;ll send the following message to your emergency contacts:</p>
            <div class="small-p">
              <textarea name="message" data-ng-model="message" class="full-width"></textarea>
            </div>
            <div class="small-p no-bottom-margin">
              <input name="time_utc" type="hidden" value="{{ time_utc }}" />
              <input type="submit" data-ng-show="active" class="button" value="Update trip" />
              <input type="submit" data-ng-hide="active" class="button" value="Embark" />
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row main-row">
      <div class="span6 offset3">
        <h2 class="no-top-margin">
          <i class="fa fa-users"></i>
          <span data-ng-show="contacts.length > 0">Emergency contacts</span>
          <span data-ng-show="contacts.length == 0">Add an emergency contact</span>
        </h2>
        <p data-ng-show="contacts.length == 0">If you go dark, we&rsquo;ll send a customizable alert to your emergency contacts. To get started, add an emergency contact below.</p>
        <p data-ng-show="contacts.length == 1">If you go dark, we&rsquo;ll alert the emergency contact listed here:</p>
        <p data-ng-show="contacts.length > 1">If you go dark, we&rsquo;ll alert the emergency contacts listed here:</p>
        <div class="p full-width">
          <table data-ng-show="contacts.length > 0" class="no-vertical-margin">
            <tr data-ng-repeat="contact in contacts">
              <td>{{ $index + 1 }}</td>
              <td>{{ contact.name }}</td>
              <td>{{ contact.phone }}</td>
              <td data-ng-show="contacts.length > 1">
                <a class="icon-link" href="/move_contact_up/{{ contact.id }}" data-ng-show="!$first" data-ks-post-anchor="move_contact_up"><i class="fa fa-caret-up"></i></a>
                <a class="icon-link" href="/move_contact_down/{{ contact.id }}" data-ng-show="!$last" data-ks-post-anchor="move_contact_down"><i class="fa fa-caret-down"></i></a>
              </td>
              <td><a class="icon-link" href="/delete_contact/{{ contact.id }}" data-ks-post-anchor="delete_contact"><i class="fa fa-trash-o"></i></a></td>
            </tr>
          </table>
        </div>
        <%= form_tag('/new_contact', { 'method' => 'post', 'class' => 'no-bottom-margin', 'data-ks-form' => 'new_contact' }) do %>
          <div class="small-p no-top-margin"><input name="name" class="full-width" data-ng-model="contact_name" placeholder="Name" type="text" /></div>
          <div class="small-p"><input name="phone" class="full-width" data-ng-model="contact_phone" placeholder="Phone Number" type="tel" /></div>
          <div class="small-p no-bottom-margin"><input type="submit" class="button" value="Add contact" /></div>
        <% end %>
      </div>
    </div>
  </div>

  <hr />

  <div class="container">
    <div class="row main-row">
      <div class="span6 offset3">
        <h2 class="no-top-margin">
          <i class="fa fa-home"></i>
          Account
        </h2>
        <div class="small-p"><i class="fa fa-lightbulb-o fa-fw"></i> Full name: <strong><%= @user.name -%></strong></div>
        <div class="small-p"><i class="fa fa-mobile fa-fw"></i> Phone number: <strong><%= @user.phone -%></strong></div>
        <div class="p"><a href="#" class="button" data-ng-click="delete_account($event)">Delete account</a></div>
      </div>
    </div>
  </div>
</div>
