<% content_for :title, "Sign up | Kitestring" %>
<% content_for :description, "Sign up for Kitestring." %>

<div class="container">
  <div class="row main-row">
    <div class="span6 offset3">
      <% if @error %>
      <h2 class="no-top-margin"><i class="fa fa-exclamation-circle"></i> Oops!</h2>
        <p class="no-bottom-margin">There seems to be a problem with your phone number.  Please return to the <a href="/">home page</a> and try again.</p>
      <% else %>
        <%= form_tag('/new_user', { 'method' => 'post', 'id' => 'sign_up_form', 'class' => 'no-vertical-margin', 'data-ks-form' => '' }) do %>
          <h2 class="no-top-margin"><i class="fa fa-rocket"></i> Sign up</h2>
          <p>Hi, <%= @name -%>! A verification code has been sent to <strong><%= @phone -%></strong>.  Fill out this form to complete your registration.</p>
          <div class="small-p"><input name="verification" placeholder="Verification code" class="focus-now" type="text" /></div>
          <div class="small-p"><input name="password" placeholder="Password" type="password" /></div>
          <div class="small-p"><input name="confirm_password" placeholder="Confirm password" type="password" /></div>
          <div class="small-p no-bottom-margin"><input type="submit" class="button" value="Sign up" /></div>
          <input name="name" type="hidden" value="<%= @name -%>" />
          <input name="phone" type="hidden" value="<%= @phone -%>" />
        <% end %>
      <% end %>
    </div>
  </div>
</div>
